main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

.galleries-body {
  flex: 1;
  padding: 20px;
  padding-left: 330px;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
}

.sidebar-buttons button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  transition: background-color 0.3s;
}

.sidebar-buttons button:hover {
  background-color: #ddd;
}

.sidebar-buttons button.selected {
  background-color: #666;
  color: white;
}

.sidebar-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: For a dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.sidebar-modal {
  background: white;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001;
}

.sidebar-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-modal-form-button {
  width: 100px;
}

.sidebar-modal-form-input {
  width: 500px;
  align-items: center;
}